$fontSize-ss: 22px;
$fontSize-s: 24px;
$fontSize-m: 28px;
$fontSize-sl: 32px;
$fontSize-l: 36px;

$baseFontColor: #767676;
$baseFontLightColor: #999999;
$baseFontActiveColor: #ff6f7a;
$baseOtherColor: rgba(247, 69, 130, 0.71);

$baseBackgroudColor: rgba(255, 111, 122, 0.65);
$baseContentColor: rgba(245, 245, 245, 1);
